table {
    position: absolute;
    top: 50%;
    width: 100vw;
    min-height: 50%;
    height: auto;
    background-color: #ededed;
    margin-top: 30px;
}
table th {
    padding-top: 10px;
    background-color: #a51f1ff1;
    border: none;
    color: #fff;
}

table td {
    text-align: center;
    border: 1px solid transparent;
    transition: 0.5s;
    cursor: default;
}
table td:hover {
    background-color: #fd9b9b;
}

.id {
    pointer-events: none;
}
table tr {
    transition: 0.5s;
}
table tr:hover {
    background-color: #dbd9d999;
}


table tr {
    height: 80px;
}

tbody td input {
    width: 100%;
    height: 80px;
    border: transparent;
    background-color: transparent;
    outline: none;
    color: #11111199;
    font-weight: 700;
    text-align: center;
}

input[type="time"] {
    width: 100%;
    height: 100%;
    cursor: text;
}

input[type="time"]:hover {
    width: 100%;
    height: 100%;
}

input[type="time"]::-webkit-clear-button {
    display: none;
}

input[type="time"]::-webkit-inner-spin-button {
    display: none;
}

tbody td input::placeholder {
    color: #ff000099;
    font-weight: 600;
}

.No {
    color: #ff000099;
    font-weight: 600;
}

.Yes {
    color: #27960599;
}

.check,
.remove {
    position: relative;
    cursor: pointer;
    color: #000000;
    transition: 0.5s;

}

.check {
    margin-right: 10%;
}

.check:hover,
.remove:hover {
    color: #fff;
}
